<h2>Import libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h2>Import data & create dataframes for each season; also drop 1st level of multi-level index, add a "Season" column for the appropriate season, and subset each dataframe to the necessary columns; scoring changed in 2022, so had to rename "1st Place" to "Votes" to match other dataframes.

In [3]:
url_2013 = "https://www.pro-football-reference.com/awards/awards_2013.htm"
mvp_2013 = pd.read_html(url_2013)
mvp_2013 = mvp_2013[0]
mvp_2013.columns = mvp_2013.columns.droplevel(0)
mvp_2013["Season"] = 2013
mvp_2013 = mvp_2013[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2014 = "https://www.pro-football-reference.com/awards/awards_2014.htm"
mvp_2014 = pd.read_html(url_2014)
mvp_2014 = mvp_2014[0]
mvp_2014.columns = mvp_2014.columns.droplevel(0)
mvp_2014["Season"] = 2014
mvp_2014 = mvp_2014[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2015 = "https://www.pro-football-reference.com/awards/awards_2015.htm"
mvp_2015 = pd.read_html(url_2015)
mvp_2015 = mvp_2015[0]
mvp_2015.columns = mvp_2015.columns.droplevel(0)
mvp_2015["Season"] = 2015
mvp_2015 = mvp_2015[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2016 = "https://www.pro-football-reference.com/awards/awards_2016.htm"
mvp_2016 = pd.read_html(url_2016)
mvp_2016 = mvp_2016[0]
mvp_2016.columns = mvp_2016.columns.droplevel(0)
mvp_2016["Season"] = 2016
mvp_2016 = mvp_2016[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2017 = "https://www.pro-football-reference.com/awards/awards_2017.htm"
mvp_2017 = pd.read_html(url_2017)
mvp_2017 = mvp_2017[0]
mvp_2017.columns = mvp_2017.columns.droplevel(0)
mvp_2017["Season"] = 2017
mvp_2017 = mvp_2017[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2018 = "https://www.pro-football-reference.com/awards/awards_2018.htm"
mvp_2018 = pd.read_html(url_2018)
mvp_2018 = mvp_2018[0]
mvp_2018.columns = mvp_2018.columns.droplevel(0)
mvp_2018["Season"] = 2018
mvp_2018 = mvp_2018[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2019 = "https://www.pro-football-reference.com/awards/awards_2019.htm"
mvp_2019 = pd.read_html(url_2019)
mvp_2019 = mvp_2019[0]
mvp_2019.columns = mvp_2019.columns.droplevel(0)
mvp_2019["Season"] = 2019
mvp_2019 = mvp_2019[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2020 = "https://www.pro-football-reference.com/awards/awards_2020.htm"
mvp_2020 = pd.read_html(url_2020)
mvp_2020 = mvp_2020[0]
mvp_2020.columns = mvp_2020.columns.droplevel(0)
mvp_2020["Season"] = 2020
mvp_2020 = mvp_2020[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2021 = "https://www.pro-football-reference.com/awards/awards_2021.htm"
mvp_2021 = pd.read_html(url_2021)
mvp_2021 = mvp_2021[0]
mvp_2021.columns = mvp_2021.columns.droplevel(0)
mvp_2021["Season"] = 2021
mvp_2021 = mvp_2021[["Season", "Rk", "Pos", "Player", "Tm", "Votes", "Yds", "TD"]]

url_2022 = "https://www.pro-football-reference.com/awards/awards_2022.htm"
mvp_2022 = pd.read_html(url_2022)
mvp_2022 = mvp_2022[0]
mvp_2022.columns = mvp_2022.columns.droplevel(0)
mvp_2022["Season"] = 2022
mvp_2022 = mvp_2022[["Season", "Rk", "Pos", "Player", "Tm", "1st Place", "Yds", "TD"]]
mvp_2022 = mvp_2022.rename(columns={"1st Place": "Votes"})

<h2>Concatenate all dataframes to get 1 big dataframe.

In [4]:
mvp_df = pd.concat([mvp_2013,mvp_2014,mvp_2015,mvp_2016,mvp_2017,mvp_2018,mvp_2019,mvp_2020,mvp_2021,mvp_2022])
display(mvp_df)

,Season,Rk,Pos,Player,Tm,Votes,Yds,Yds,Yds,TD,TD,TD
0,2013,1,QB,Peyton Manning,Denver Broncos,49.0,5477,-31,0,55,1,0
1,2013,2,QB,Tom Brady,New England Patriots,1.0,4343,18,0,25,0,0
0,2014,1,QB,Aaron Rodgers,Green Bay Packers,31.0,4381,269,0,38,2,0
1,2014,2,LDE,J.J. Watt,Houston Texans,13.0,0,0,4,0,0,3
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,0,1845,416,0,13,0
3,2014,4,QB,Tony Romo,Dallas Cowboys,2.0,3705,61,0,34,0,0
4,2014,5,QB,Tom Brady,New England Patriots,1.0,4109,57,0,33,0,0
5,2014,6,MLB,Bobby Wagner,Seattle Seahawks,1.0,0,0,0,0,0,0
0,2015,1,QB,Cam Newton,Carolina Panthers,48.0,3837,636,0,35,10,0
1,2015,2,QB,Tom Brady,New England Patriots,1.0,4770,53,36,36,3,0
2,2015,3,QB,Carson Palmer,Arizona Cardinals,1.0,4671,24,0,35,1,0
0,2016,1,QB,Matt Ryan,Atlanta Falcons,25.0,4944,117,0,38,0,0
1,2016,2,QB,Tom Brady,New England Patriots,10.0,3554,64,0,28,0,0
2,2016,3,QB,Derek Carr,Oakland Raiders,6.0,3937,70,0,28,0,0
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,0,1631,363,0,15,1
4,2016,5,QB,Aaron Rodgers,Green Bay Packers,2.0,4428,369,0,40,4,0
5,2016,6,QB,Dak Prescott,Dallas Cowboys,1.0,3667,282,0,23,6,0
0,2017,1,QB,Tom Brady,New England Patriots,40.0,4577,28,0,32,0,0
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,0,1305,788,0,13,6
2,2017,3,QB,Carson Wentz,Philadelphia Eagles,2.0,3296,299,0,33,0,0
0,2018,1,QB,Patrick Mahomes,Kansas City Chiefs,41.0,5097,272,0,50,2,0
1,2018,2,QB,Drew Brees,New Orleans Saints,9.0,3992,22,1,32,4,0
0,2019,1,QB,Lamar Jackson,Baltimore Ravens,50.0,3127,1206,0,36,7,0
0,2020,1,QB,Aaron Rodgers,Green Bay Packers,44.0,4299,149,-6,48,3,0
1,2020,2,QB,Josh Allen,Buffalo Bills,4.0,4544,421,12,37,8,1
2,2020,3,QB,Patrick Mahomes,Kansas City Chiefs,2.0,4740,308,0,38,2,0
0,2021,1,QB,Aaron Rodgers,Green Bay Packers,39.0,4115,101,-4,37,3,0
1,2021,2,QB,Tom Brady,Tampa Bay Buccaneers,10.0,5316,81,0,43,2,0
2,2021,3,WR,Cooper Kupp,Los Angeles Rams,1.0,0,18,1947,0,0,16
0,2022,1,QB,Patrick Mahomes,Kansas City Chiefs,48.0,5250,358,6,41,4,0
1,2022,2,QB,Jalen Hurts,Philadelphia Eagles,1.0,3701,760,0,22,13,0
2,2022,3,QB,Josh Allen,Buffalo Bills,1.0,4283,762,0,35,7,0
3,2022,4,QB,Joe Burrow,Cincinnati Bengals,NaN,4475,257,0,35,5,0
4,2022,5,WR,Justin Jefferson,Minnesota Vikings,NaN,34,24,1809,0,1,8
5,2022,6,DE,Nick Bosa,San Francisco 49ers,NaN,0,0,0,0,0,0
6,2022,7,QB,Trevor Lawrence,Jacksonville Jaguars,NaN,4113,291,0,25,5,0
7,2022,8,LB,Micah Parsons,Dallas Cowboys,NaN,0,0,0,0,0,0
8,2022,9,WR,A.J. Brown,Philadelphia Eagles,NaN,0,0,1496,0,0,11
9,2022,10,QB,Justin Fields,Chicago Bears,NaN,2242,1143,0,17,8,0
10,2022,11,RB,Derrick Henry,Tennessee Titans,NaN,4,1538,398,1,13,0
11,2022,12,QB,Justin Herbert,Los Angeles Chargers,NaN,4739,147,-10,25,0,0
12,2022,13,WR,Tyreek Hill,Miami Dolphins,NaN,0,32,1710,0,1,7
13,2022,14,QB,Geno Smith,Seattle Seahawks,NaN,4282,366,0,30,1,0
14,2022,15,QB,Tua Tagovailoa,Miami Dolphins,NaN,3548,70,0,25,0,0

<h2>Rename "Rk" to "Rank" and fill NaN values with 0.

In [5]:
mvp_df = mvp_df.rename(columns={"Rk": "Rank"})
mvp_df = mvp_df.fillna(0)
display(mvp_df)

,Season,Rank,Pos,Player,Tm,Votes,Yds,Yds,Yds,TD,TD,TD
0,2013,1,QB,Peyton Manning,Denver Broncos,49.0,5477,-31,0,55,1,0
1,2013,2,QB,Tom Brady,New England Patriots,1.0,4343,18,0,25,0,0
0,2014,1,QB,Aaron Rodgers,Green Bay Packers,31.0,4381,269,0,38,2,0
1,2014,2,LDE,J.J. Watt,Houston Texans,13.0,0,0,4,0,0,3
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,0,1845,416,0,13,0
3,2014,4,QB,Tony Romo,Dallas Cowboys,2.0,3705,61,0,34,0,0
4,2014,5,QB,Tom Brady,New England Patriots,1.0,4109,57,0,33,0,0
5,2014,6,MLB,Bobby Wagner,Seattle Seahawks,1.0,0,0,0,0,0,0
0,2015,1,QB,Cam Newton,Carolina Panthers,48.0,3837,636,0,35,10,0
1,2015,2,QB,Tom Brady,New England Patriots,1.0,4770,53,36,36,3,0
2,2015,3,QB,Carson Palmer,Arizona Cardinals,1.0,4671,24,0,35,1,0
0,2016,1,QB,Matt Ryan,Atlanta Falcons,25.0,4944,117,0,38,0,0
1,2016,2,QB,Tom Brady,New England Patriots,10.0,3554,64,0,28,0,0
2,2016,3,QB,Derek Carr,Oakland Raiders,6.0,3937,70,0,28,0,0
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,0,1631,363,0,15,1
4,2016,5,QB,Aaron Rodgers,Green Bay Packers,2.0,4428,369,0,40,4,0
5,2016,6,QB,Dak Prescott,Dallas Cowboys,1.0,3667,282,0,23,6,0
0,2017,1,QB,Tom Brady,New England Patriots,40.0,4577,28,0,32,0,0
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,0,1305,788,0,13,6
2,2017,3,QB,Carson Wentz,Philadelphia Eagles,2.0,3296,299,0,33,0,0
0,2018,1,QB,Patrick Mahomes,Kansas City Chiefs,41.0,5097,272,0,50,2,0
1,2018,2,QB,Drew Brees,New Orleans Saints,9.0,3992,22,1,32,4,0
0,2019,1,QB,Lamar Jackson,Baltimore Ravens,50.0,3127,1206,0,36,7,0
0,2020,1,QB,Aaron Rodgers,Green Bay Packers,44.0,4299,149,-6,48,3,0
1,2020,2,QB,Josh Allen,Buffalo Bills,4.0,4544,421,12,37,8,1
2,2020,3,QB,Patrick Mahomes,Kansas City Chiefs,2.0,4740,308,0,38,2,0
0,2021,1,QB,Aaron Rodgers,Green Bay Packers,39.0,4115,101,-4,37,3,0
1,2021,2,QB,Tom Brady,Tampa Bay Buccaneers,10.0,5316,81,0,43,2,0
2,2021,3,WR,Cooper Kupp,Los Angeles Rams,1.0,0,18,1947,0,0,16
0,2022,1,QB,Patrick Mahomes,Kansas City Chiefs,48.0,5250,358,6,41,4,0
1,2022,2,QB,Jalen Hurts,Philadelphia Eagles,1.0,3701,760,0,22,13,0
2,2022,3,QB,Josh Allen,Buffalo Bills,1.0,4283,762,0,35,7,0
3,2022,4,QB,Joe Burrow,Cincinnati Bengals,0.0,4475,257,0,35,5,0
4,2022,5,WR,Justin Jefferson,Minnesota Vikings,0.0,34,24,1809,0,1,8
5,2022,6,DE,Nick Bosa,San Francisco 49ers,0.0,0,0,0,0,0,0
6,2022,7,QB,Trevor Lawrence,Jacksonville Jaguars,0.0,4113,291,0,25,5,0
7,2022,8,LB,Micah Parsons,Dallas Cowboys,0.0,0,0,0,0,0,0
8,2022,9,WR,A.J. Brown,Philadelphia Eagles,0.0,0,0,1496,0,0,11
9,2022,10,QB,Justin Fields,Chicago Bears,0.0,2242,1143,0,17,8,0
10,2022,11,RB,Derrick Henry,Tennessee Titans,0.0,4,1538,398,1,13,0
11,2022,12,QB,Justin Herbert,Los Angeles Chargers,0.0,4739,147,-10,25,0,0
12,2022,13,WR,Tyreek Hill,Miami Dolphins,0.0,0,32,1710,0,1,7
13,2022,14,QB,Geno Smith,Seattle Seahawks,0.0,4282,366,0,30,1,0
14,2022,15,QB,Tua Tagovailoa,Miami Dolphins,0.0,3548,70,0,25,0,0

<h2>Query dataframe for running backs only

In [6]:
mvp_df = mvp_df.query('Pos == "RB" ')
display(mvp_df.sort_values("Rank"))

,Season,Rank,Pos,Player,Tm,Votes,Yds,Yds,Yds,TD,TD,TD
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,0,1305,788,0,13,6
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,0,1845,416,0,13,0
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,0,1631,363,0,15,1
10,2022,11,RB,Derrick Henry,Tennessee Titans,0.0,4,1538,398,1,13,0

<h2>Use index to rename duplicate "Yds" and "TD" columns to the appropriate category

In [7]:
mvp_df.columns = ["Season","Rank","Pos","Player","Tm","Votes","Pass_Yds","Rush_Yds","Rec_Yds","Pass_TDs","Rush_TDs","Rec_TDs"]
display(mvp_df.sort_values("Rank"))

,Season,Rank,Pos,Player,Tm,Votes,Pass_Yds,Rush_Yds,Rec_Yds,Pass_TDs,Rush_TDs,Rec_TDs
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,0,1305,788,0,13,6
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,0,1845,416,0,13,0
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,0,1631,363,0,15,1
10,2022,11,RB,Derrick Henry,Tennessee Titans,0.0,4,1538,398,1,13,0

<h2>Subset dataframe for necessary columns, create "Total_Yds" and "Total_TDs" columns

In [8]:
mvp_df = mvp_df[["Season", "Rank", "Pos", "Player", "Tm", "Votes", "Rush_Yds", "Rec_Yds", "Rush_TDs", "Rec_TDs"]]
mvp_df["Total_Yds"] = mvp_df["Rush_Yds"] + mvp_df["Rec_Yds"]
mvp_df["Total_TDs"] = mvp_df["Rush_TDs"] + mvp_df["Rec_TDs"]
display(mvp_df.sort_values("Rank"))

,Season,Rank,Pos,Player,Tm,Votes,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,1305,788,13,6,2093,19
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,1845,416,13,0,2261,13
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,1631,363,15,1,1994,16
10,2022,11,RB,Derrick Henry,Tennessee Titans,0.0,1538,398,13,0,1936,13

<h2>Limit only to rows that rank in top 5

In [9]:
mvp_df = mvp_df[mvp_df.Rank <= 5]
display(mvp_df.sort_values("Rank"))

,Season,Rank,Pos,Player,Tm,Votes,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,1305,788,13,6,2093,19
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,1845,416,13,0,2261,13
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,1631,363,15,1,1994,16

<h2>Start getting McCaffrey stats to add to mvp_df for comparison<br>
<h2>Import 2023 data from Pro Football Reference and create dataframe

In [10]:
url_cmac = "https://www.pro-football-reference.com/players/M/McCaCh01.htm"
cmac = pd.read_html(url_cmac)
cmac = cmac[1]
display(cmac)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0                2017                 21                CAR
1                2018                 22                CAR
2              2019*+                 23                CAR
3                2020                 24                CAR
4                2021                 25                CAR
5               2022*                 26                2TM
6                   *                NaN                CAR
7                   *                NaN                SFO
8                2023                 27                SFO
9              Career             Career                NaN
10              6 yrs              6 yrs                CAR
11              2 yrs              2 yrs                SFO

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Rushing            ...  \
                  Pos                No.     G  GS     Att   Yds  TD  ...
0                  RB               22.0    16  10     117   435   2  ...
1                  RB               22.0    16  16     219  1098   7  ...
2                  RB               22.0    16  16     287  1387  15  ...
3                  RB               22.0     3   3      59   225   5  ...
4                  RB               22.0     7   7      99   442   1  ...
5                  RB                NaN    17  16     244  1139   8  ...
6                  RB               22.0     6   6      85   393   2  ...
7                  RB               23.0    11  10     159   746   6  ...
8                  RB               23.0    14  14     244  1292  13  ...
9                 NaN                NaN    89  82    1269  6018  51  ...
10                NaN                NaN    64  58     866  3980  32  ...
11                NaN                NaN    25  24     403  2038  19  ...

   Receiving              Unnamed: 28_level_0 Unnamed: 29_level_0  \
         Y/G  Ctch% Y/Tgt               Touch               Y/Tch
0       40.7  70.8%   5.8                 197                 5.5
1       54.2  86.3%   7.0                 326                 6.0
2       62.8  81.7%   7.1                 403                 5.9
3       49.7  89.5%   7.8                  76                 4.9
4       49.0  90.2%   8.4                 136                 5.8
5       43.6  78.7%   6.9                 329                 5.7
6       46.2  76.7%   6.4                 118                 5.7
7       42.2  80.0%   7.1                 211                 5.7
8       36.4  83.8%   7.5                 301                 6.0
9       47.9  81.1%   6.9                1768                 5.8
10      51.4  80.9%   6.8                1256                 5.8
11      38.9  82.0%   7.3                 512                 5.9

   Unnamed: 30_level_0 Unnamed: 31_level_0 Unnamed: 32_level_0  \
                  YScm                RRTD                 Fmb
0                 1086                   7                   2
1                 1965                  13                   4
2                 2392                  19                   1
3                  374                   6                   0
4                  785                   2                   1
5                 1880                  13                   1
6                  670                   3                   0
7                 1210                  10                   1
8                 1801                  20                   3
9                10283                  80                  12
10                7272                  50                   8
11                3011                  30                   4

   Unnamed: 33_level_0       Unnamed: 34_level_0
                    AV                    Awards
0                  9.0                       NaN
1                 16.0                       AP2
2                 15.0        AP OPoY-3, AP1, PB
3                  3.0                       NaN
4                  5.0                       NaN
5                 15.0  AP OPoY-7, AP CPoY-2, PB
6                  5.0  AP OPoY-7, AP CPoY-2, PB
7                 10.0  AP OPoY-7, AP CPoY-2, PB
8                  NaN                       NaN
9                 63.0                       NaN
10                53.0                       NaN
11                10.0                       NaN

[12 rows x 35 columns]

<h2>Drop 1st level of multi-level index

In [11]:
cmac.columns = cmac.columns.droplevel(0)
display(cmac)

,Year,Age,Tm,Pos,No.,G,GS,Att,Yds,TD,...,Y/G,Ctch%,Y/Tgt,Touch,Y/Tch,YScm,RRTD,Fmb,AV,Awards
0,2017,21,CAR,RB,22.0,16,10,117,435,2,...,40.7,70.8%,5.8,197,5.5,1086,7,2,9.0,NaN
1,2018,22,CAR,RB,22.0,16,16,219,1098,7,...,54.2,86.3%,7.0,326,6.0,1965,13,4,16.0,AP2
2,2019*+,23,CAR,RB,22.0,16,16,287,1387,15,...,62.8,81.7%,7.1,403,5.9,2392,19,1,15.0,"AP OPoY-3, AP1, PB"
3,2020,24,CAR,RB,22.0,3,3,59,225,5,...,49.7,89.5%,7.8,76,4.9,374,6,0,3.0,NaN
4,2021,25,CAR,RB,22.0,7,7,99,442,1,...,49.0,90.2%,8.4,136,5.8,785,2,1,5.0,NaN
5,2022*,26,2TM,RB,NaN,17,16,244,1139,8,...,43.6,78.7%,6.9,329,5.7,1880,13,1,15.0,"AP OPoY-7, AP CPoY-2, PB"
6,*,NaN,CAR,RB,22.0,6,6,85,393,2,...,46.2,76.7%,6.4,118,5.7,670,3,0,5.0,"AP OPoY-7, AP CPoY-2, PB"
7,*,NaN,SFO,RB,23.0,11,10,159,746,6,...,42.2,80.0%,7.1,211,5.7,1210,10,1,10.0,"AP OPoY-7, AP CPoY-2, PB"
8,2023,27,SFO,RB,23.0,14,14,244,1292,13,...,36.4,83.8%,7.5,301,6.0,1801,20,3,NaN,NaN
9,Career,Career,NaN,NaN,NaN,89,82,1269,6018,51,...,47.9,81.1%,6.9,1768,5.8,10283,80,12,63.0,NaN
10,6 yrs,6 yrs,CAR,NaN,NaN,64,58,866,3980,32,...,51.4,80.9%,6.8,1256,5.8,7272,50,8,53.0,NaN
11,2 yrs,2 yrs,SFO,NaN,NaN,25,24,403,2038,19,...,38.9,82.0%,7.3,512,5.9,3011,30,4,10.0,NaN

<h2>Query for 2023 season only

In [12]:
cmac_2023 = cmac.query('Year == "2023" ')
display(cmac_2023)

,Year,Age,Tm,Pos,No.,G,GS,Att,Yds,TD,...,Y/G,Ctch%,Y/Tgt,Touch,Y/Tch,YScm,RRTD,Fmb,AV,Awards
8,2023,27,SFO,RB,23.0,14,14,244,1292,13,...,36.4,83.8%,7.5,301,6.0,1801,20,3,NaN,NaN

<h2>Subset for necessary columns only

In [13]:
cmac_2023 = cmac_2023[["Year", "Yds", "TD"]]
display(cmac_2023)

   Year   Yds  Yds  TD  TD
8  2023  1292  509  13   7

<h2>Use index to rename duplicate "Yds" and "TD" columns to appropriate categories

In [14]:
cmac_2023.columns = ["Year", "Rush_Yds", "Rec_Yds", "Rush_TDs", "Rec_TDs"]
display(cmac_2023)

   Year  Rush_Yds  Rec_Yds  Rush_TDs  Rec_TDs
8  2023      1292      509        13        7

<h2>Create "Total_Yds" and "Total_TDs" columns

In [15]:
cmac_2023["Total_Yds"] = cmac_2023["Rush_Yds"] + cmac_2023["Rec_Yds"]
cmac_2023["Total_TDs"] = cmac_2023["Rush_TDs"] + cmac_2023["Rec_TDs"]
display(cmac_2023)

   Year  Rush_Yds  Rec_Yds  Rush_TDs  Rec_TDs  Total_Yds  Total_TDs
8  2023      1292      509        13        7       1801         20

<h2>Rename "Year" column to "Season" to match mvp_df

In [16]:
cmac_2023 = cmac_2023.rename(columns={"Year": "Season"})
display(cmac_2023)

  Season  Rush_Yds  Rec_Yds  Rush_TDs  Rec_TDs  Total_Yds  Total_TDs
8   2023      1292      509        13        7       1801         20

<h2>Add necessary columns to match mvp_df; Some of these will be blank because voting for 2023 hasn't happened yet

In [17]:
cmac_2023["Rank"]  = ""
cmac_2023["Pos"]   = "RB"
cmac_2023["Player"] = "Christian McCaffrey"
cmac_2023["Tm"]    = "San Francisco 49ers"
cmac_2023["Votes"] = ""
display(cmac_2023)

,Season,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs,Rank,Pos,Player,Tm,Votes
8,2023,1292,509,13,7,1801,20,,RB,Christian McCaffrey,San Francisco 49ers,

<h2>Reorder columns to align with mvp_df

In [18]:
cmac_2023 = cmac_2023[["Season","Rank","Pos","Player","Tm","Votes","Rush_Yds","Rec_Yds","Rush_TDs",
                       "Rec_TDs","Total_Yds","Total_TDs"]]
display(cmac_2023)

,Season,Rank,Pos,Player,Tm,Votes,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs
8,2023,,RB,Christian McCaffrey,San Francisco 49ers,,1292,509,13,7,1801,20

<h2>Add McCaffrey dataframe to mvp_df to create final dataframe and compare stats

In [19]:
mvp_final_df = pd.concat([mvp_df, cmac_2023])
display(mvp_final_df)

,Season,Rank,Pos,Player,Tm,Votes,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs
2,2014,3,RB,DeMarco Murray,Dallas Cowboys,2.0,1845,416,13,0,2261,13
3,2016,4,RB,Ezekiel Elliott,Dallas Cowboys,6.0,1631,363,15,1,1994,16
1,2017,2,RB,Todd Gurley,Los Angeles Rams,8.0,1305,788,13,6,2093,19
8,2023,,RB,Christian McCaffrey,San Francisco 49ers,,1292,509,13,7,1801,20